html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'PingFangSC';
  src: url('../assets/fonts/PingFangSC.ttf') format('opentype');
}



html body {
  margin: 0;
  background: #f5f5f5;
  font-family: 'PingFangSC';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

